.card img {
    width:100%;
}

.card{
    background-color: white;
    margin:15px 20px;
    border-radius: 5px;
    width:300px;
    height:100%;
    min-height:510px;
    box-shadow: 0px 0px 5px #14141c;
    overflow:hidden;
    transition: all 0.15s ease-in;
    cursor: pointer;
    font-family: "f1_regular";
}

.card:hover {
    background-color: gray;
}

.card button {
    border:none;
    background-color: white;
    width:60%;
    margin-bottom: 30px;
    transition: all 0.15s ease-in;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "f1_Regular";
}

.card button:hover {
    background-color: #14141c;
    color:white;
}

.card .title {
    margin-top:5px;
    min-height:50px;
    font-family: "f1_bold";
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.card .price {
    font-size: 2rem;
    font-family: "f1_Bold";
    margin-top:0;
    margin-bottom:20px;
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}